.scroll .logo {
    padding: 10px 20px;
    font-size: 1.5rem;
}

.scroll nav {
    align-items: center;
}
.scroll ul {
    margin : 0;
}

@media screen and (max-width: 1060px) {
    /*screen and () : 띄어쓰기 중요*/
    header {
        padding: 10px;
    }
    nav {
        align-items: center;
    }
    nav ul {
        display: none;
    }
    .scroll .logo,
    .logo {
        font-size: 1.8rem;
        margin: 10px 0 0 10px;
    }
    button.ham-button,
    .scroll button.ham-button {
        display: block;
    }
}